*:focus {
	outline: none;
}

body {
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Chat {
  background-color: #eeeee6;
  margin: 10px auto;
  padding: 10px;
  width: 800px;
  height: calc(100vh - 20px);
}

.Header, .MessageList, .MessageInput {
  margin: 10px 100px;
}

.Header {
  display: flex;
  position: relative;
  padding: 20px 20px 10px 10px;
  border: 2px solid #a98;
  border-radius: 5px;
}

.Header span {
  padding: 0px 10px;
}

#last-sent {
  position: absolute;
  right: 0px;
}

.MessageList {
  height: calc(100vh - 21px - 179px);
  width: auto;
  border: 2px solid #a98;
  border-radius: 5px;
  overflow-y: scroll;
  scroll-snap-align: end;
}

.Message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d0ccbb;
}

.Message button {
  margin: 0 5px;
}

.message-owner {
  font-weight: bold;
  color: #555;
}

.message-text {
  color: #555;
}

.message-time {
  font-size: 0.5em;
}

.MessageInput {
  padding: 0px 10px 10px 10px;
  height: 54px;
}

#input-field {
  display: inline-block;
  padding: 5px 10px;
  height: 40px;
  width: 470px;
  border: 2px solid #a98;
  border-radius: 5px;
}

#send-button {
  padding: 5px 10px;
  float: right;
  background-color: #fff;
  margin: 0px;
  width: 80px;
  height: 54px;
  border: 2px solid #a98;
  border-radius: 5px;
}

#send-button:active {
  border-color: #ca9;
  color: #666;
}

#edit-component {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.4);
}

#edit-window {
  position: absolute;
  left: calc((100vw - 820px) / 2);
  top: calc((100vh - 74px) / 2);
  background-color: #eeeee6;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  width: 800px;
}

.message-avatar {
  width: 36px;
  float: left;
  margin: 5px;
}

.Own .message-avatar {
  display: none;
}

.Own {
  text-align: right;
  background-color: #ddddcc;
}

.date-divider {
  width: calc(100% - 20px);
  height: 20px;
  text-align: center;
  margin: 10px;
}